
<h1>Bienvenido {{user.first_name}}, {{user.last_name}}</h1>
<h2 class=" text-center">Listado de productos</h2>

<table class="table table-bordered table-hover table-header-dark">
  <tr class="bg-dark">
    {{!-- <th>Id</th>  --}}
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Imágen</th>
    <th>Código</th>
    <th>Stock</th>
    <th>Estado</th>
    <th>Categoría</th>
    <th>Acción</th>
  </tr>
  {{#each docs}}
    <tr>
      {{!-- <td> {{this._id}}</td> --}}
      <td> {{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td> {{this.thumbnail}}</td>
      <td> {{this.code}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.status}}</td>
      <td> {{this.category}}</td>
      <td>
          <form action="/api/carts/{{this.card_id}}/products/{{this._id}}" method="POST">
              <button type="submit" class="btn btn-primary p-1">Agregar a carrito</button>
        </form>
        </td>
    </tr>
  {{/each}}

</table>
<div class="mt-2 mb-4">
    {{#if hasPrevPage}}
        <a href={{this.prevLink}} class="btn btn-primary"><< Anterior</a>
    {{/if}}
    &nbsp;
    {{this.page}}
    &nbsp;
     {{#if hasNextPage}}
        <a href={{this.nextLink}} class="btn btn-primary">Siguiente >></a>
    {{/if}} 
</div>

