<h1 class="text-right">Bienvenido {{user.first_name}}, {{user.last_name}}</h1>

{{#if products}}
  <h2 class="text-center">Productos del Carrito</h2>
  <table class="table table-bordered table-hover">
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Imágen</th>
      <th>Código</th>
      <th>Estado</th>
      <th>Categoría</th>
      <th>Cantidad</th>

    </tr>
    {{#each products}}
      <tr>
        <td> {{this.product.title}}</td>
        <td>{{this.product.description}}</td>
        <td>{{this.product.price}}</td>
        <td> {{this.product.thumbnail}}</td>
        <td> {{this.product.code}}</td>
        <td>{{this.product.status}}</td>
        <td> {{this.product.category}}</td>
        <td> {{this.quantity}}</td>

      </tr>
    {{/each}}

  </table>

  <form action="/api/carts/{{this._id}}/purchase" method="POST">
    <button type="submit" class="btn btn-success">Realizar Compra</button>
  </form>
{{else}}
  <div>
    <h2 class="text-center mt-5">No existen productos en el carrito</h2>
  </div>
{{/if}}