<div>
  <h1 class="text-center">Datos del perfil</h1>
  <div class="card card-body">
    <p>Nombre: {{user.first_name}}</p>
    <p>Apellido: {{user.last_name}}</p>
    <p>Mail: {{user.email}}</p>
    <p>Edad: {{user.age}} años</p>
    <p>Rol: {{user.role}} </p>
  </div>

</div>