<div>
  <h1>Tu perfil (sin datos sensibles)</h1>
  <p>Nombre: {{user.first_name}}</p>
  <p>Apellido: {{user.last_name}}</p>
  <p>Mail: {{user.email}}</p>
  <p>Edad: {{user.age}} años</p>
  <p>Rol: {{user.role}} </p>
</div>