<h1>Bienvenido {{user.first_name}}, {{user.last_name}}</h1>
<h2 class="text-center">Listado de Usuarios</h2>

<table class="table table-bordered table-hover table-header-dark">
  <tr class="bg-dark">
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Rol</th>
    <th>Acción</th>
  </tr>
  {{#each docs}}
    <tr>
      <td> {{this.first_name}}</td>
      <td> {{this.last_name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.role}}</td>
      <td>
        <a href="/api/users/edit/{{this._id}}" class="btn btn-primary p-1">Modificar</a>
        <a href="/api/users/delete/{{this._id}}" class="btn btn-danger p-1">Eliminar</a>

      </td>
    </tr>
  {{/each}}

</table>
<div class="mt-2 mb-4">
    {{#if hasPrevPage}}
        <a href={{this.prevLink}} class="btn btn-primary"><< Anterior</a>
    {{/if}}
    &nbsp;
    {{this.page}}
    &nbsp;
     {{#if hasNextPage}}
        <a href={{this.nextLink}} class="btn btn-primary">Siguiente >></a>
    {{/if}} 
</div>